.main {
  display: flex;
  /* justify-content: space-around; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.loginlogo {
  align-items: center;
}
.loginlogo img {
  max-width: 100%;
  height: auto;
}

h4 {
  margin-bottom: 50px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  color: gray;
  margin-top: 10px;
}
.forgot-password {
  margin-top: 0px;
  color: blue;
  text-decoration: underline;
  text-align: right;
  font-size: 12px;
}

input[type="email"],
input[type="password"],
.loginButton {
  background: #024e82;
  color: #ccc;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.pswd {
  display: flex;
}

.pswd input[type="email"],
.pswd input[type="text"],
.pswd input[type="password"] {
  flex: 1;
}

.pswd .icon {
  margin-top: 16px;
  color: #f4f7f8;
  font-size: 37px;
  /* background: #024e82; */
  background-color: #024e82;
}

.hror {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hror hr {
  flex-grow: 1;
  height: 1px;
  border: none;
  background-color: #ccc;
}

.hror span {
  margin: 0 10px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ccc;
}
.SignupButton {
  padding: 10px;
  font-size: 16px;

  margin-top: 18px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;

  color: #024e82;
  border-color: #024e82;
  border-radius: 0;
  width: 100%;
}
.loginlogo {
}
@media screen and (max-width: 768px) {
  form {
    padding: 10px;
    max-width: none;
    width: 100%;
  }
  .loginlogo {
    display: none;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  label {
    font-size: 14px;
    margin-top: 5px;
  }
  .pswd .icon {
    font-size: 24px;
  }
  input[type="email"],
  input[type="password"],
  .loginButton,
  .SignupButton {
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
  }
  .hror span {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  form {
    /* max-width: none;
    width: 100%; */
  }

  .loginlogo {
    /* display: none; */
  }
}
