.Footer {
  text-align: left;
  margin-top: 50px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(251px, 4fr));
}
.mFoot {
  margin-left: 5%;
  margin-right: 5%;
}
.footrft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(251px, 2fr));
  margin-top: 50px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.ft {
  text-align: left;
}
.icic {
  color: gray;
  display: flex;
  gap: 10%;
  justify-content: end;
}
/* .hr {
  margin-left: 5%;
  margin-right: 5%;
} */
