.singleImge {
  max-width: 100%;
  height: auto;
}

.details {
  text-align: left;
}
.productDetails {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(251px, 2fr));
}
.drop {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-color: black;
  width: 150px;
  border-radius: 0;
}
.crtBtn {
  padding: 10px;
  margin-top: 45px;
  border: 1px solid;
  background-color: #024e82;
  color: white;
  width: 150px;
  border-radius: 0;
}
.modalis {
  width: 170px;
}
